@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
  margin: 0;
}

.container {
  font-family: Roboto, sans-serif;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.container > div {
  padding: 16px;
}

.sidebar {
  background-color: #a8a29e;
  font-size: 1.25rem;
  font-weight: bold;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar img {
  height: 24px;
}

.sidebar .item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sidebar .item:first-child {
  font-size: 1.5rem;
  margin-bottom: 32px;
}

.sidebar .item:first-child img {
  height: 48px;
}

.sidebar .item:nth-child(7) {
  margin-bottom: 32px;
}

.header {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.top .text {
  font-size: 1.25rem;
}

.top img {
  height: 24px;
}

input {
  background-color: #e5e7eb;
  width: 100%;
  height: 24px;
  border: none;
  border-radius: 16px;
  padding: 8px;
  box-sizing: border-box;
}

.left, .right {
  display: flex;
  align-items: center;
  gap: 32px;
}

.left {
  flex-grow: 1;
  gap: 16px;
}

.right img:last-of-type {
  height: 40px;
  border-radius: 50%;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.bottom .text {
  font-size: 1.5rem;
}

.bottom .text:first-of-type {
  font-size: 0.75rem;
}

.bottom img {
  height: 64px;
  border-radius: 50%;
}

.message {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #a8a29e;
  width: 80px;
  border-radius: 16px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
}

.main {
  background-color: #e5e7eb;
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 16px;
}

.your-projects {
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 24px repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.your-projects .legend {
  grid-column: 1 / 3;
}

.legend {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.card {
  background-color: white;
  border-left: 8px solid #292524;
  border-radius: 8px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card .text {
  font-family: sans-serif;
}

.card img {
  height: 24px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  padding-top: 16px;
}

.section {
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.announcements .item {
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 8px;
}

.announcements .item:last-of-type {
  border: none;
  padding: 0;
}

.announcements .title {
  font-weight: bold;
}

.announcements .text {
  font-family: sans-serif;
}

.trending .item {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 16px;
}

.trending .text:last-of-type {
  color: #6b7280;
}

.trending img {
  height: 40px;
  border-radius: 50%;
  grid-row: 1 / 3;
}