@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

.container {
  font-family: Roboto, sans-serif;
}